x64/*
Win32/*
Release/*
NEA-project/*
.vs/NEA-project/v17/*
NEA-project/*
NEA-project/x64/Debug/main.obj
NEA-project/x64/Debug/NEA-project.exe.recipe
NEA-project/x64/Debug/NEA-project.ilk
NEA-project/x64/Debug/NEA-project.log
NEA-project/x64/Debug/NEA-project.tlog/CL.command.1.tlog
NEA-project/x64/Debug/NEA-project.tlog/Cl.items.tlog
NEA-project/x64/Debug/NEA-project.tlog/CL.read.1.tlog
NEA-project/x64/Debug/NEA-project.tlog/CL.write.1.tlog
NEA-project/x64/Debug/NEA-project.tlog/link.command.1.tlog
NEA-project/x64/Debug/NEA-project.tlog/link.read.1.tlog
NEA-project/x64/Debug/NEA-project.tlog/link.secondary.1.tlog
NEA-project/x64/Debug/NEA-project.tlog/link.write.1.tlog
NEA-project/x64/Debug/NEA-project.tlog/NEA-project.lastbuildstate
NEA-project/x64/Debug/vc143.idb
NEA-project/x64/Debug/vc143.pdb
.vs
